.venv/
.venv/*
.ruff_cache/
checkpoints
.vscode/
*.swp
*.ckpt
*.pt
*.png
*.npz
*.code-workspace
__pycache__/
datasets/

wandb/
None/
timescale-autoencoder/
Timescale-Autoencoder/
condor_logs/
TEMP_trained_models/
data/*
training/configs/*
training/experiments/*

results.csv
send.sh
pyrightconfig.json
