# main libraries
torch
torchvision
torchmetrics
torchinfo
pytorch-lightning
einops
schedulefree
polars
torch-fidelity
# Libraries for metric calculation
numpy
scikit-learn
# Libraries for video-based io
av
imageio
pims
sk-video
# Logging libraries
wandb
pip-system-certs
# Misc
typing
argparse
toml
tqdm
matplotlib
pandas
